/node_modules
/public/hot
/public/storage
/resources/docs
/resources/blog
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
