// :root {
//   --color-ui-background: theme('colors.white');
//   --color-ui-typo: theme('colors.gray.700');
//   --color-ui-sidebar: theme('colors.gray.200');
//   --color-ui-border: theme('colors.gray.300');
//   --color-ui-primary: theme('colors.indigo.600');
// }

// html[lights-out] {
//   --color-ui-background: theme('colors.gray.900');
//   --color-ui-typo: theme('colors.gray.100');
//   --color-ui-sidebar: theme('colors.gray.800');
//   --color-ui-border: theme('colors.gray.800');
//   --color-ui-primary: theme('colors.indigo.500');
//   pre[class*="language-"],
//   code[class*="language-"] {
//     @apply bg-ui-border;
//   }
// }

// * {
//     transition-property: color, background-color, border-color;
//     transition-duration: 200ms;
//     transition-timing-function: ease-in-out;
// }

h1, h2, h3, h4 {
    @apply leading-snug font-black mb-4;

    &:hover {
        a::before {
            @apply opacity-100;
        }
    }

    a {
        &::before {
            content: "#";
            margin-left: -1em;
            padding-right: 1em;
            @apply absolute opacity-0 float-left;
        }
    }
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

// a:not(.active):not(.text-ui-primary):not(.text-white) { @apply text-ui-typo }
p, ol, ul, pre, strong, blockquote {
    @apply mb-4 text-base;
}

a {
    @apply text-indigo-500 font-semibold;

    &:hover {
        @apply text-indigo-700 underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    @apply pt-8 tracking-wide leading-none pb-4;
}

h1:first-of-type {
    @apply pt-0;
}

h2 + h3, h2 + h2, h3 + h3 {
    @apply border-none;
}

h2, h3 {
    @apply border-b border-gray-300 pb-2 mb-4;
}

ul {
    @apply list-disc;

    ul {
        list-style: circle;
    }
}

ol {
    @apply list-decimal;
}

ol, ul {
    @apply pl-5 py-1;

    li {
        @apply mb-2;

        p {
            @apply mb-0;
        }

        &:last-child {
            @apply mb-0;
        }
    }
}

blockquote {
    @apply border-l-4 border-black py-2 pl-4;

    p:last-child {
        @apply mb-0;
    }
}

code {
    @apply px-1 py-1 text-black font-semibold font-mono text-sm;
}

pre[class*="language-"] {
    @apply p-6 font-mono font-normal leading-none max-w-full overflow-x-auto rounded;

    font-size: 1em;

    & + p {
        @apply mt-4;
    }

    & > code[class*="language-"] {
        @apply p-0 border-none leading-relaxed;
    }
}

table {
    @apply text-left mb-6 w-full;

    td, th {
        @apply py-3 px-4;

        &:first-child {
            @apply pl-0;
        }

        &:last-child {
            @apply pr-0;
        }
    }

    tr {
        @apply border-b border-gray-300;

        &:last-child {
            @apply border-b-0;
        }
    }
}
