// Color configuration
$accentColor = #6272a4
$textColor = #44475a
$borderColor = #EDF2F7
$codeBgColor = #282a36

// Layout configuration
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px