// Dark theme
$backgroundDark: #1A202C;
$sidebarDark: #1A202C;
$textDark: #F7FAFC;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #fff;
$textBright: #2D3748;

// Brand
$brandPrimary: #21b5cc;
